body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
    margin: 0;
}

header {
    background: #e10600;
    padding: 80px;
}

section {
    padding: 50px;
}

a {
    background: white;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    margin: 10px;
}
